.page-title {
	margin-top: 161px;
}

.form-group {
	/* todo */
	margin-top: 27px;
}

.input-container {
	/* todo */
	margin-bottom: 10px;
}

.profile-image-field {
	position: relative;
}
.profile-image {
	position: relative;

	width: 149px;
	height: 149px;
	object-fit: cover;
	border-radius: 50%;
	opacity: 0.8;
}

.email-info {
	text-align: left;
	font-family: Pretendard;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.71px;
	letter-spacing: 0%;
	color: #000000;
	padding: 16px 24px;
}

#profileImageInput {
	display: none;
}

.profile-image-wrapper {
	position: relative;
	margin: 0 auto;
	width: 149px;
	height: 149px;
	border-radius: 50%;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.svg-container {
	width: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	margin-top: -20px;
	z-index: 2;
	color: white;
	border: solid 2px white;
	padding: 4px 12px;
	background-color: transparent;
	border-radius: 20px;
	font-weight: 700;
	font-size: 15px;
	cursor: pointer;
}

.image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}
