.page-title {
	margin-top: 161px;
	margin-bottom: 96px;
}

/* temp-dummy =============================================*/
header .svg-container {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 36px;
	vertical-align: middle;
}

svg {
	width: 36px;
	height: 36px;
}
ellipse {
	cx: 18;
	cy: 18;
	rx: 18;
	ry: 18;
	fill: #d9d9d9;
}
/*=====================================================*/
.form-group {
	/* todo */
	margin-top: 27px;
}

.input-container {
	/* todo */
	margin-bottom: 10px;
}

.email-info {
	text-align: left;
	font-family: Pretendard;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.71px;
	letter-spacing: 0%;
	color: #000000;
	padding: 16px 24px;
}
