* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
	color: inherit;
}
body {
	min-width: 375px;
	width: 100%;
	height: 100vh;
	background-color: #f4f5f7;
}

@font-face {
	font-family: "S-CoreDream-3Light";
	src: url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "S-CoreDream-3Light";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Pretendard-Regular";
	src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}

/* title  ============================*/
.title {
	width: 100%;
	height: 104px;
	border-bottom: solid 1px #000000;
	padding-top: 36px;
	text-align: center;
	font-family: "S-CoreDream-3Light";
	font-weight: 400;
	font-size: 32px;
}

.contents {
	display: grid;
	grid-template-columns: 1fr 592px 1fr;
	height: 100%-104px;
}

/* page ===========================*/
.page-title {
	font-family: Pretendard;
	font-weight: 700;
	font-size: 32px;
	line-height: 38.19px;
	text-align: center;
}

.form-group {
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
	font-family: Pretendard;
}

/* input-field template ==================*/
.input-title {
	text-align: left;
	margin: 0 auto;
	width: 355px;
	font-weight: 700;
	font-size: 15px;
	line-height: 17.9px;
}

.input-field input {
	margin-top: 8px;
	padding-left: 10px;
	width: 355px;
	height: 33px;
	border: solid 1px #000000;
	border-width: 1px;
	border-radius: 4px;
}

.input-field input::placeholder {
	color: #000000;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.71px;
	letter-spacing: 0;
}

.helper-text {
	text-align: left;
	width: 355px;
	padding-top: 4px;
	margin: 0 auto;
	font-family: Inter;
	font-weight: 400;
	font-size: 12px;
	color: #ff0000;
	line-height: 14.52px;
}

/* button template ===========================*/
#button-type1 {
	width: 355px;
	height: 33px;
	background-color: #aca0eb;
	border-radius: 4px;
	border: none;
	font-family: Pretendard;
	font-weight: 700;
	font-size: 14px;
	line-height: 16.71px;
	text-align: center;
	color: #ffffff;
}

#button-type2 {
	display: block;
	margin: 0 auto;
	margin-top: 12px;
	height: 17px;
	border: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.71px;
	background-color: #ffffff;
	color: #000000;
}

.navigate-before {
	position: absolute;
	top: 32px;
	left: 20px;
	width: 40px;
	height: 40px;
}
