.page-title {
	padding-top: 24px;
	padding-bottom: 61px;
	font-size: 24px;
}

.input-field {
	border-top: solid 1px #00000029;
	border-bottom: solid 1px #00000029;
}

#padding1 {
	height: 26px;
}

#padding2 {
	height: 8px;
}
#padding3 {
	height: 16px;
}
.input-field textarea {
	padding-top: 18px;
	width: 544px;
	height: 278px;
	border: 0px;
	margin-left: 18px;
	margin-right: 18px;
}
.input-field textarea::placeholder {
	vertical-align: top;
	color: #000000;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.71px;
	letter-spacing: 0;
}

.form-group {
	margin: 0px;
}

h1.input-title {
	margin-left: 24px;
}

.input-field input {
	width: 544px;
}

p.helper-text {
	margin-left: 24px;
}

.file_input_field {
	text-align: left;
	padding-top: 8px;
}
.file_input_field button {
	display: inline-block;
	margin-left: 24px;
	margin-right: 8px;
}

.file_input_field span {
	font-weight: 400;
	font-size: 14px;
	line-height: 16.71px;
}
