.container {
	margin-top: 24px;
}

/* temp-dummy =============================================*/
.svg-container {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 36px;
	vertical-align: middle;
}

.svg-container img {
	width: 36px;
	height: 36px;
}
svg {
	width: 36px;
	height: 36px;
}
ellipse {
	cx: 18;
	cy: 18;
	rx: 18;
	ry: 18;
	fill: #d9d9d9;
}
/*=====================================================*/

.metadata {
	position: relative;
	display: inline-block;
	width: 460px;
	height: 44px;
}
.info-wrap {
	padding: 0px 24px;
	padding-bottom: 16px;
	border-bottom: solid 1px #00000029;
}
.info-wrap h1 {
	font-family: Pretendard;
	font-weight: 700;
	font-size: 24px;
	line-height: 31.2px;
	margin-bottom: 10px;
}
.writer-info {
	position: relative;
	display: inline-block;
	width: 200px;
	vertical-align: middle;
}
.user-nickname {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-left: 2px;
	font-family: Pretendard;
	font-weight: 700;
	font-size: 15px;
	line-height: 19.5px;
	width: 150px;
}

.datetime {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.button-group {
	position: absolute;
	left: max(20px, 50vw +200px);
	display: inline-block;
}

.button-type4 {
	width: 50px;
	height: 27px;
	border-width: 1px;
	border-radius: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: solid 1px #aca0eb;
	font-weight: 400;
	font-size: 15px;
	line-height: 23.48px;
	text-align: center;
}

.dummy-img {
	margin: 24px;
	width: 544px;
	height: 306px;
	background-color: #d9d9d9;
}

.post-body {
	align-items: center;
	margin-top: 24px;
	border-bottom: solid 1px #00000029;
}
.padding1 {
	height: 16px;
}
.post-body img {
	margin: 0 auto;
}

.post-body article {
	font-family: Pretendard;
	font-weight: 400;
	font-size: 15px;
	line-height: 21.15px;
	letter-spacing: 0;
	margin-left: 24px;
	margin-right: 24px;
}

.post-details {
	position: relative;
	text-align: center;
	margin-top: 36px;
	margin-bottom: 36px;
}

.detail-box {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 116px;
	height: 77px;
	border-radius: 16px;
	background-color: #d9d9d9;
	text-align: center;
	vertical-align: middle;
	font-family: Pretendard;
	font-weight: 700;
	font-size: 16px;
	line-height: 25.04px;
	text-align: center;
	padding-top: 12px;
	margin: 2px;
	text-align: center;
}

.detail-box#liked-box.active {
	background-color: #aca0eb;
}

.post-details .num {
	font-family: Pretendard;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0%;
}

.comment-input {
	position: relative;
	margin-top: 24px;
	height: 169px;
	border-radius: 16px;
	background-color: #ffffff;
}

.comment-input textarea {
	width: 544px;
	height: 72px;
	border: none;
	margin: 18px;
}

.input-field textarea::placeholder {
	vertical-align: top;
	color: #000000;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.71px;
	letter-spacing: 0;
}
hr {
	border: solid 1px;
	color: #00000029;
	margin-bottom: 4px;
}
.button-type3 {
	position: absolute;
	right: 4px;
	width: 138px;
	height: 39px;
	border-radius: 16px;
	background-color: #aca0eb;
	font-family: Pretendard;
	font-weight: 700;
	font-size: 16px;
	line-height: 25.04px;
	letter-spacing: 0%;
	text-align: center;
	border: none;
	color: #ffffff;
}

.comments-container {
	margin-top: 24px;
}
.comment {
	position: relative;
	height: 80px;
	margin-bottom: 24px;
}

.comment-content {
	position: absolute;
	top: 52px;
	left: 40px;
	font-family: Pretendard;
	font-weight: 400;
	font-size: 15px;
	line-height: 21.15px;
}

.comments-container .datetime {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	background: #e0e0e0;
	padding: 2px 8px;
	border-radius: 12px;
}

.writer-info img {
	position: relative;
	width: 36px;
	height: 36px;
	display: inline-block;
	vertical-align: middle;
	object-fit: cover;
	border-radius: 50%;
}

.button-type3.btn-disabled {
	background-color: #aca0eb;
}

.button-type3.btn-active {
	background-color: #7f6aee;
}
