.inputField {
	padding-left: 10px;
	width: 355px;
	height: 33px;
	border: solid 1px #000000;
	border-width: 1px;
	border-radius: 4px;
}

/* .inputField:focus {
	border-color: #4a90e2;
	box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
} */

/* .label {
	display: block;
	margin-bottom: 5px;
	font-weight: 500;
	color: #333;
} */
